 /* Three image containers (use 25% for four, and 50% for two, etc)
 /* .column {
    float: left;
    /* width: 33.33%;
    width: 27%;
    padding: 5px;
    border: 10px solid navy;
    margin: 10px;
  } */
  
  /* Clear floats after image containers */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */

  /* img{
    height: 100%;
    width: 100%;
  } */ 

//* Flexbox example *//

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  img{
    height: 20%;
    width: 20%;
  }